h1{
	color: red;
}
.container{
	border: 1px solid black;
    margin: 10%;
    padding: 0px;
    background-color: blue;
    position: relative;
    width: 1000px;
    height: 1000px;

}

.grid{
	margin:0px;
	background-color: red;
	float: left;  */ to wrap all the elements to left and fill the spaces*/
	display: inline-block;
	


}
.heading{
	text-align: center;
	margin-bottom: -5%;
	}