h1{
	color: red;
}
.container{
	border: 1px solid black;
    margin: 50px;
    background-color: blue;
    
    width: 960px;
    height: 986px;

}

.grid{
	background-color: red;
	height: 96px;
	width: 96px;
	border: 0.1px solid black;
	display: inline-block;



}
.green1{
	background-color: green;
	}